<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Detection by VKIST</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css'>
    <link rel="stylesheet" href="static/CSS/style.css">

    <!-- UPLOAD -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300'> -->
    <link rel="stylesheet" href="static/CSS/style1.css">

    <!-- BACK LINKS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>

    <meta property="og:image" content="static/IMAGES/vkist_logo.jpg">
    <meta property="og:image:url" content="static/IMAGES/vkist_logo.jpg">
    <meta property="og:image:secure_url" content="static/IMAGES/vkist_logo.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="static/IMAGES/vkist_logo.jpg">
</head>

<body>

    <div class="wrapper">
        <div class="card1">
            <div class="header1">
                <h1>DIAGNOSTIC </h1>
                <img class="logo" src="static/IMAGES/SGP-7th-Sem-Logo.png" alt="logo">
            </div>
            <h3>Covid-19 Cheast X-ray Detection</h3>
            <div class="side front">
            </div>
        </div>
        <!-- <p>Write your stuff here!</p> -->
        <div class="card">
            <div class="upload">
                <div class="upload-files">
                    <header>
                        <p>
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <span class="up">up</span>
                            <span class="load">load</span>
                        </p>
                    </header>
                    <div class="body1" id="drop">
                        <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                        <p class="pointer-none"><b>Drag and drop</b> files here <br /> or
                            <a href="" id="triggerFile">browse</a> to begin the upload
                        </p>
                        <input type="file" id="myimage" />
                    </div>
                    <footer>
                        <div class="divider">
                            <span>
                                <AR>UPLOADED FILE IS:</AR>
                            </span>
                        </div>
                        <div class="list-files">

                            <!--   template   -->
                        </div>
                        <div class="op">
                            <span class="output1"></span>
                            <h4 class="output"></h4>
                        </div>
                        <div class="api">
                            <a href="#"><button class="importar">DETECTION</button></a>
                            <a href="#"><button class="clear">CLEAR</button></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="side front">
            </div>
        </div>
        <div class="copyright">
            <p>&#169; All rights reserved 2023 | Covid-19 Detection by VKIST</p>
        </div>
    </div>

    <!-- partial -->
    <script src='https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js'></script>

    <!-- UPLOAD -->
    <script src="static/JS/script1.js"></script>

    <!-- BACK LINKS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
    <!-- <script src="static/JS/script2.js"></script> -->

</body>

</html>